/* --- ROW 1: THE FOUNDATION (Deep Teal & Royal Indigo) --- */
.quick-link-card:nth-child(1) {
    background: 
    linear-gradient(135deg, #063e42e6, #17868bd9),
    url(../image/slider/1.jpg);
    background-size: cover;
}

.quick-link-card:nth-child(2) {
    background: 
    linear-gradient(135deg, #1a237ee6, #3f51b5d9),
    url(../image/slider/2.jpg);
    background-size: cover;
}

/* --- ROW 2: THE PRESTIGE (Imperial Purple & Rich Crimson) --- */
.quick-link-card:nth-child(3) {
    background: 
    linear-gradient(135deg, #310c47e6, #6a1b9ad9),
    url(../image/slider/3.jpg);
    background-size: cover;
}

.quick-link-card:nth-child(4) {
    background: 
    linear-gradient(135deg, #68010de6, #bd3c4bd9),
    url(../image/slider/1.jpg);
    background-size: cover;
}

/* --- ROW 3: THE HERITAGE (Sienna Amber & Midnight Slate) --- */
.quick-link-card:nth-child(5) {
    background: 
    linear-gradient(135deg, #824a02e6, #c27a14d9),
    url(../image/slider/2.jpg);
    background-size: cover;
}

.quick-link-card:nth-child(6) {
    background: 
    linear-gradient(135deg, #4c6775e6, #0270a3d9),
    url(../image/slider/3.jpg);
    background-size: cover;
}