/* 1 – Elite Teal Emerald */
.quick-link-card:nth-child(1){
    background:
    linear-gradient(135deg, #063e42d9, #17868bd9),
    url(../image/slider/1.jpg);
    background-size: cover;
    background-position:top;
}

/* 2 – Imperial Violet */
.quick-link-card:nth-child(2){
    background:
    linear-gradient(135deg, #310c478f, #310c47),
    url(../image/slider/2.jpg);
    background-size: cover;
    background-position:top;
}

/* 3 – Royal Navy Indigo */
.quick-link-card:nth-child(3){
    background:
    linear-gradient(135deg, #081d688f, #081d68),
    url(../image/slider/3.jpg);
    background-size: cover;
    background-position:top;
}

/* 4 – Prestige Olive Gold */
.quick-link-card:nth-child(4){
    background:
    linear-gradient(135deg, #43b8fc8f, #43b8fc),
    url(../image/slider/1.jpg);
    background-size: cover;
    background-position:top;
}

/* 5 – Luxe Bronze Amber */
.quick-link-card:nth-child(5){
    background:
    linear-gradient(135deg, #c27a148f, #c27a14),
    url(../image/slider/2.jpg);
    background-size: cover;
    background-position:top;
}

/* 6 – Heritage Crimson */
.quick-link-card:nth-child(6){
    background:
    linear-gradient(135deg, #c921348f, #68010d),
    url(../image/slider/3.jpg);
    background-size: cover;
    background-position:top;
}